

.slider{
    
	position: relative;
	max-width: 300%;
	max-height: 200%;
    margin-top: 0;
    margin-bottom: 20%;
	
    
}
.slider>figure{
	box-shadow: 0 29.5px 38px #e0e0e0;

	position: absolute;
	left:30%;
	top:10%;

	width:60%;
	height: 110%;
	transition: transform .5s;
	transform: translate(-50%,-50%)scale(1);
	z-index: 0;
}
.slider>figure.left , .slider>figure.right{
	display:inline-block;
	opacity: 1;
}
.slider>figure.left{
	transform: translate(-140%,-50%);
	z-index: 1;
}
.slider>figure.center{
	z-index: 2;
	transform:translate(-50%,-50%) scale(1.1);
}
.slider>figure.right{
	transform: translate(40%,-50%);
	z-index: 1;
}
.slider>.navContainer{
	width:49%;
	height: 100%;
	position: relative;
	display:inline-block;
	z-index: 500;
}
.slider>.navContainer>.leftClass,.slider>.navContainer>.rightClass{
	height: 100%;
	width: 550%;
	background: url(img/slider-arrow.png) no-repeat center;
	
	position: absolute;
	opacity:0.6;
}
.slider>.navContainer>.rightClass{
	right: 0;
	background-position-x:-30px;

}
.slider>.navContainer>.leftClass{
	left:0;
}