
.slider{
    
	position: relative;
	max-width: 160%;
	max-height: 100%;
    margin-top: -8%;
    margin-bottom: 40%;
    transform: translate(14%,0%)scale(0.9);
    
}
.textbox{
    margin-right: 70%;
    box-shadow: 0 29.5px 38px #c7c7c7;
    transform:translate(-150%,-400%);
    max-width: 100%;
    padding: 15px;
    
    
}
figcaption{
    background-color: white;
    box-shadow: 0 29.5px 38px #c7c7c7;
    margin-top: -2%;
    
    padding: 15px;
        
}
.slider>figure{
	box-shadow: 0 29.5px 38px #c7c7c7;

	position: absolute;
	left:30%;
	top:0%;

	width:60%;
	height: 110%;
	transition: transform .5s;
	transform: translate(-50%,-50%)scale(1);
	z-index: 0;
}
.slider>figure.left , .slider>figure.right{
	display:inline-block;
	opacity: 1;
}
.slider>figure.left{
	transform: translate(-140%,-50%);
	z-index: 1;
}
.slider>figure.center{
	z-index: 2;
	transform:translate(-50%,-50%) scale(1.17);
}
.slider>figure.right{
	transform: translate(40%,-50%);
	z-index: 1;
}
.slider>.navContainer{
	width:49%;
	height: 100%;
	position: relative;
	display:inline-block;
	z-index: 500;
}
.slider>.navContainer>.leftClass,.slider>.navContainer>.rightClass{
	height: 20%;
	width: 550%;
	background: url(img/slider-arrow.png) no-repeat center;
    transform: translate(-2%, 2%);
    
	
	position: absolute;
	opacity:1;
}
.slider>.navContainer>.rightClass{
	right: 0;
	background-position-x:-30px;

}
.slider>.navContainer>.leftClass{
	left:0;
}